.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 20rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Updock', cursive;
  font-size: 6rem;
}

input {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: 1px solid darkseagreen;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}


li {
  width: 100%;
  font-size: 4rem;
  font-family: 'Updock', cursive;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 5rem;
  font-family: 'Updock', cursive;
  font-size: 2rem;
  background-color: darkseagreen;
  border: 1px solid seagreen;
  border-radius: 2rem;
  cursor: pointer;

  &:hover {
    background-color: forestgreen;
  }
}

.removeAll {
  width: auto;
}

.buttonContainer {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-right: 20px;
  cursor: pointer;

  &.active {
    background-color: red;
  }

  &.done {
    background-color: green;

  }
}
